.footer {
    padding: 60px 0;
    position: relative;
}
.footer .navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin-bottom: 170px;
}
.footer .navbar .nav_link {
    margin-bottom: -170px;
}
.footer .navbar .nav_link:nth-child(2) {
    grid-column-start: 2;
    grid-row: span 3;
}
.footer .navbar a {
    margin-bottom: 22px;
}
.partners_footer {
    padding: 40px 0;
    margin: 40px 0;
    border-top: 1px solid #e0e4eb;
    border-bottom: 1px solid #e0e4eb;
    align-items: flex-start;
}
.footer .map {
    width: 50%;
    flex-shrink: 0;
    height: 230px;
    margin-left: 60px;
}
.footer .map iframe {
    width: 100%;
    height: 100%;
}
.footer a {
    display: block;
}
.footer .partner_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 40%;
    margin-left: 60px;
    flex-shrink: 0;
}
.footer .part_img {
    width: 100%;
    height: 48px;
    background-color: #efefef;
    border-radius: 5px;
}
.footer .part_img img {
    height: 70%;
}
.contact_info_footer {
    align-items: flex-start;
}
.contact_info_footer p {
    margin-bottom: 20px;
}
.contact_info_footer img {
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    .footer {
        font-size: 12px;
    }
    .partners_footer .partner_grid {
        grid-gap: 7px;
        margin-left: 18px;
    }
    .footer .navbar a {
        margin-bottom: 12px;
    }
    .contact_info_footer p {
        margin-bottom: 9px;
    }
    .partners_footer {
        padding: 28px 0;
        margin: 29px 0;
    }
    .footer .navbar .nav_link {
        margin-bottom: -96px;
    }
    .footer .navbar {
        margin-bottom: 101px;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        padding: 38px 0;
    }
    .navs_part {
        flex-direction: column;
    }
    .footer .navbar {
        width: 100%;
    }
    .partners_footer {
        padding: 28px 0;
        margin: 29px 0;
        flex-direction: column;
    }
    .footer .partner_grid {
        margin-left: 0;
        width: 100%;
        margin-top: 20px;
    }
    .contact_info_footer {
        flex-direction: column;
    }
    .contact_info_footer .column {
        margin-bottom: 20px;
        justify-content: flex-start;
    }
    .contact_info_footer p {
        margin-bottom: 1px;
    }
    .contact_info_footer img {
        margin-right: 20px;
        margin-left: 0;
    }
    .footer .navbar {
        flex-direction: column;
    }
    .footer .map {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        height: 200px;
    }
}
